#header {
  background-color: #1a5221;
  /* display: none; */
}

.banner {
  width: 100%;
  height: 70vh;
  background-image: url("../img/Main-banner/home-banner-2.jpg");
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  /* background-position: center;
  position: relative; */
}

/* navbar */
#navbar {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;

}

.navbar-first {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

.navbar-first i {
  color: #91b40d;
}

.navbar-first a {
  color: #fff;
}

.navbar-second {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-second li {
  display: inline-block;
  padding: 0px 10px;
}

.navbar-second a {
  color: #fff;
}

.navbar-second a:hover {
  color: #91b40d;
  transition: all ease 0.4s;
}

.social-icons a {
  padding: 0px 5px;
}

/* navbar */

/* section box start */
.card-list{
  
  display: flex;
 
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 180px;
}
.card-list .card{
  width: 30%;
  height: 35vh;
  margin: 30px;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  position: relative;
  padding: 15px;
  overflow: hidden;
}
.card-list .card-1{
  background: #1A5221;
 
}
.card-list .card-2{
  background: #91B40D;

}
.card-list .card-3{
  background: #FFBF00;

}
.card-list .card h1 {
  font-size: 1.6em;
  font-family: serif;
  color: #fff;
  margin-bottom: 10px;
}
.card-list .card h5 {
  font-size: 1.2em;
  font-family: serif;
  color: #fff;
}
.card-list .card img{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.card-list .card-1 img{
  width: 60%;
  right: 20px;
  bottom: 10px;
}
.card-list .card-2 img{
  width: 90%;
}
.card-list .card-3 img{
  width: 100%;
  left: 50px;
}
.card-list .card .card-background,
.card-list .card .card-background-2{
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 8;
}
.card-list .card .card-background-2{
  top: auto;
}
/* section box end */

/* section about start */
#about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 100px;
}

.about-items-header {
  text-align: center;
}

.about-items-content {
  text-align: center;
}

.about-items-image {
  width: 100%;
  height: 100%;
}

.about-items-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-icons {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}
/* section about end */

/* section garden start */
#garden {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/* section garden end */

/* section products start */
#products {
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.products-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.products-nav li {
  display: inline-block;
  padding: 20px 10px;
}

.products-nav li a {
  color: black;
}

.products-nav li a:hover {
  color: #91b40d;
  transition: all ease 0.4s;
}

.product-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  gap: 50;
  padding-right: 40px;
}

.product-box-name {
  text-align: center;
  width: 100%;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}

/* Section products end */

/* Section blog start */
#blog {
  width: 100%;
  display: flex;
}

.blog-items {
  width: 100%;
  height: 100%;
}

.blog-items-footer {
  color: black;
}
/* Section blog end */

/* fotter banner */
.footer-banner {
  width: 100%;
  display: flex;
  /* height: 70vh; */
  background-image: url("../img/footer/ezgif.com-gif-maker\ \(1\).png");
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
}
/* fotter banner */

/* footer */
.footer {
  width: 100%;
    background: url(../img/footer/ezgif.com-gif-maker\ \(1\).png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 17rem;
}

.footer a {
  color: #fff;
}

.copyright p {
color: #fff;
}
/* footer */